version: '3.7'

services:
  ingest:
    image: "{{ elasticsearch_docker_image }}"
    ports:
      - target: 9200
        published: 9200
        protocol: tcp
        mode: host
    networks:
      - integr8-tools-elasticsearch
    healthcheck:
      test: curl -fs http://localhost:9200/_cat/health || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 45s
    environment:
      - "TZ=America/Sao_Paulo"
      - node.name=ingest
    volumes:
      - ingest_elasticsearch_data:/usr/share/elasticsearch/data
    configs:
      - source: ingest_config
        target: /usr/share/elasticsearch/config/elasticsearch.yml
      - source: ingest_jvm_config
        target: /usr/share/elasticsearch/config/jvm.options
    deploy:
      labels:
        - traefik.enable=true
        - traefik.backend=ingest
        - traefik.frontend.rule=Host:{{ elasticsearch_host }}
        - traefik.port=9200
        - traefik.docker.network=integr8
      mode: "replicated"
      replicas: 1
      resources:
        limits:
          memory: 2g
        reservations:
          memory: 1g
      restart_policy:
        condition: on-failure
        delay: 60s
      placement:
        constraints:
          - node.role == worker
          
{% for i in range(1, cluster.master_nodes) %}
  master{{ "%02d"|format(i) }}:
    image: "{{ elasticsearch_docker_image }}"
    networks:
      - integr8-tools-elasticsearch
    environment:
      - "TZ=America/Sao_Paulo"
      - "node.name=master{{ "%02d"|format(i) }}"
    healthcheck:
      test: curl -fs http://localhost:9200/_cat/health || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 45s
    volumes:
      - master{{ "%02d"|format(i) }}_elasticsearch_data:/usr/share/elasticsearch/data
    configs:
      - source: master_config
        target: /usr/share/elasticsearch/config/elasticsearch.yml
      - source: master_jvm_config
        target: /usr/share/elasticsearch/config/jvm.options
    deploy:
      mode: "replicated"
      replicas: 1
      resources:
        limits:
          memory: 2g
        reservations:
          memory: 1g
      restart_policy:
        condition: on-failure
        delay: 60s
      placement:
        constraints:
          - node.role == worker
{% endfor %}

{% for i in range(1, cluster.data_nodes) %}
  data{{ "%02d"|format(i) }}:
    image: "{{ elasticsearch_docker_image }}"
    networks:
      - integr8-tools-elasticsearch
    environment:
      - "TZ=America/Sao_Paulo"
      - "node.name=data{{ "%02d"|format(i) }}"
    healthcheck:
      test: curl -fs http://localhost:9200/_cat/health || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 45s
    volumes:
      - data{{ "%02d"|format(i) }}_elasticsearch_data:/usr/share/elasticsearch/data
    configs:
      - source: data_config
        target: /usr/share/elasticsearch/config/elasticsearch.yml
      - source: data_jvm_config
        target: /usr/share/elasticsearch/config/jvm.options
    deploy:
      mode: "replicated"
      replicas: 1
      resources:
        limits:
          memory: 2g
        reservations:
          memory: 1g
      restart_policy:
        condition: on-failure
        delay: 60s
      placement:
        constraints:
          - node.role == worker
{% endfor %}

  kibana:
    image: docker.elastic.co/kibana/kibana:6.7.2
    environment:
      - "ELASTICSEARCH_URL=http://data01:9200"
    networks:
      - integr8
      - integr8-tools-elasticsearch
    deploy:
      labels:
        - traefik.enable=true
        - traefik.backend=kibana
        - traefik.frontend.rule=Host:{{ kibana_host }}
        - traefik.port=5601
        - traefik.docker.network=integr8
      mode: replicated
      replicas: 1
      update_config:
        failure_action: rollback
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
      placement:
        constraints:
          - node.role == worker

networks:
  integr8-tools-elasticsearch:
    attachable: true
    name: integr8-tools-elasticsearch
  integr8:
    external: true
    name: integr8

configs:
  ingest_config:
    file: "{{ elasticsearch_temp_dir.path }}/ingest/elasticsearch.yml"
  ingest_jvm_config:
    file: "{{ elasticsearch_temp_dir.path }}/ingest/jvm.options"
  master_config:
    file: "{{ elasticsearch_temp_dir.path }}/master/elasticsearch.yml"
  master_jvm_config:
    file: "{{ elasticsearch_temp_dir.path }}/master/jvm.options"
  data_config:
    file: "{{ elasticsearch_temp_dir.path }}/data/elasticsearch.yml"
  data_jvm_config:
    file: "{{ elasticsearch_temp_dir.path }}/data/jvm.options"

volumes:
  ingest_elasticsearch_data:
{% for i in range(1, cluster.master_nodes + 1) %}
  master{{ "%02d"|format(i) }}_elasticsearch_data:
{% endfor %}
{% for i in range(1, cluster.master_nodes + 1) %}
  data{{ "%02d"|format(i) }}_elasticsearch_data:
{% endfor %}